<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.booksearchapp.mappers.LendingMapper">
    <!-- 借りる -->
    <insert id="borrow" parameterType="com.example.booksearchapp.forms.BorrowForm">
        INSERT INTO lendings VALUES (
        NULL,
        #{id},
        #{userId},
        NOW(),
        NULL)
    </insert>

    <!-- 返す -->
    <update id="returnBook" parameterType="com.example.booksearchapp.forms.BookReturnForm">
        UPDATE lendings
        SET return_time = NOW()
        WHERE id = #{lendingId}
        AND return_time IS NULL
    </update>

    <select id="count" resultType="Integer" parameterType="com.example.booksearchapp.forms.BorrowForm">
        SELECT books.number - (SELECT COUNT(*)
        FROM lendings
        WHERE return_time IS NULL
        AND book_id = #{id})
        FROM books
        WHERE id = #{id}
    </select>



</mapper>