<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.booksearchapp.mappers.UserMapper">
    <select id="findByUserName" resultType="com.example.booksearchapp.entities.LoginUser">
        SELECT * FROM users WHERE email = #{email}
    </select>
    <insert id="signup" parameterType="com.example.booksearchapp.forms.SignupForm">
        INSERT INTO users(email, first_name, last_name, password, authority)
        VALUES (#{email}, #{firstName}, #{lastName}, #{password}, 1)
    </insert>
</mapper>